<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta
			name="viewport"
			content="width=device-width, initial-scale=1.0"
		/>
		<title>Flight info</title>
		<link
			rel="stylesheet"
			th:href="@{/style.css}"
		/>
	</head>
	<body>
		<div class="outer-container">
			<h1>Flight info</h1>
			<div class="search-container">
				<form
					action="#"
					th:action="@{/}"
					method="post"
					th:object="${flightFilterDTO}"
				>
					<button type="submit">
						<!-- <svg
							viewBox="0 0 100 100"
							xmlns="http://www.w3.org/2000/svg"
						>
							<circle
								cx="50"
								cy="50"
								r="30"
								stroke="black"
								stroke-width="5"
								fill="none"
							/>

							<path
								stroke="black"
								stroke-width="5"
								d="
								M 90 90
								l -20 -20
							"
							/>
						</svg> -->
						<p>Search</p>
					</button>
					<input
						type="text"
						name="destinationFilter"
						id="destinationFilter"
						class="destinationFilter"
						placeholder="Filter by destination..."
						th:field="*{destinationFilter}"
					/>
				</form>
				<form
					th:action="@{/}"
					method="post"
					th:object="${flightFilterDTO}"
				>
					<div>
						<button
							type="submit"
							name="dateFilter"
							value="all"
						>
							Flights for today and tomorrow
						</button>
						<br />
						<form
							class="datetime-selector"
							th:action="@{/}"
							method="post"
						>
							<span>Choose a time for flight:</span>
							<label>
								Start from:
								<input
									type="datetime-local"
									id="dateTimeFilterStart"
									name="dateTimeFilterStart"
									th:attr="min=${#temporals.format(#temporals.createNow(), 'yyyy-MM-dd''T''HH:mm')}"
									th:value="${#temporals.format(#temporals.createNow(), 'yyyy-MM-dd''T''HH:mm')}"
								/>
							</label>
							<br />
							<label>
								End at:
								<input
									type="datetime-local"
									id="dateTimeFilterEnd"
									name="dateTimeFilterEnd"
									th:attr="min=${#temporals.format(#temporals.createNow(), 'yyyy-MM-dd''T''HH:mm')}"
									th:value="${#temporals.format(#temporals.createNow(), 'yyyy-MM-dd''T''HH:mm')}"
								/>
							</label>
							<button type="submit">Search for flights</button>
						</form>
					</div>
				</form>
			</div>
			<hr />
			<div class="flights-container">
				<div
					class="cards-container"
					th:each="card : ${flights}"
				>
					<a
						href="#"
						th:href="@{/flight(id=${card.id})}"
					>
						<div class="card">
							<p
								class="card-timestamp"
								th:text="|${card.getDepartureTime()} ${card.getDepartureDateString()}|"
							>
								00:00
							</p>
							<div class="card-info">
								<h3
									th:text="${card.destination.getDestinationString()}"
								>
									destination
								</h3>
								<div class="flight-info">
									<p th:text="${card.getFlightCode()}">
										flight code
									</p>
									<p th:text="${card.getAirline()}">
										company not specified
									</p>
								</div>
							</div>
						</div>
					</a>
				</div>
			</div>
		</div>
	</body>
</html>
