<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta
			name="viewport"
			content="width=device-width, initial-scale=1.0"
		/>
		<title>Flight info</title>
		<link
			rel="stylesheet"
			th:href="@{/style.css}"
		/>
	</head>
	<body>
		<div>
			<a
				href="#"
				th:href="@{/}"
				class="back-button"
				>Back to All Flights</a
			>
			<div class="card-info">
				<h3 th:text="${flight.destination.getDestinationString()}">
					destination
				</h3>
				<div class="flight-info">
					<p th:text="|Flight ID: ${flight.getFlightCode()}|">
						flight code
					</p>
					<p th:text="|Airline: ${flight.getAirline()}|">
						company not specified
					</p>
					<p
						th:text="|Departing at: ${flight.getDepartureTime()} ${flight.getDepartureDateString()}|"
					></p>
				</div>
			</div>
			<div class="filters"></div>
			<!-- <form
				action="#"
				class="seat-selection-form"
				th:action="@{/flight(id=${flight.id})}"
				method="post"
			>
				<button type="submit">Search for seats</button> -->
			<div class="form-container">
				<div class="seat-container">
					<div
						th:each="seat: ${flight.getAllSeats()}"
						method="post"
					>
						<div class="seat">
							<input
								type="checkbox"
								th:id="${seat.toString()}"
								th:disabled="${!seat.isAvailable()}"
								th:value="${seat.toString()}"
								th:name="${seat.toString()}"
							/>
						</div>
					</div>
				</div>
			</div>
			<!-- </form> -->
		</div>
	</body>
</html>
