<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta
			name="viewport"
			content="width=device-width, initial-scale=1.0"
		/>
		<title>Cart</title>
		<link
			rel="stylesheet"
			th:href="@{/style.css}"
		/>
	</head>
	<body>
		<div>
			<div class="ticket-info">
				<p>FROM:</p>
				<p>TO:</p>
				<p>FLIGHT:</p>
				<p>DATE:</p>
				<p>SEAT:</p>
				<p>DEPARTURE TIME:</p>
			</div>
			<div class="reciept">
				<p>Seat cost</p>
				<p>Total cost</p>
			</div>
		</div>
	</body>
</html>
