body {
    font-size: calc(16*1.125px);
}

p {
    color: black;
}

a {
    text-decoration: none;
    cursor: pointer;
    color: black;
}

input[type=text] {
    flex-grow: 2;
}


.search-container{
    width: 100%;
    display: flex;
    flex-direction: row;
}


.outer-container {
    max-width: 80%;
    min-width: 20%;
    margin: auto;
}

.card {
    display: flex;
    column-gap: 5px;
    border-radius: 25px;
    margin: 5px;
    padding: 5px;
    border: solid black 1px;
}

.card:hover {
    background-color: rgb(224, 223, 223);
}

.card-timestamp, .card-info{
    align-self: baseline;
}

.seat-container {
    width: 20%;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
}

.form-container {
    display: grid;
}